html{
	font-family: Lato;
}
*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background-image: url(http://i1036.photobucket.com/albums/a447/Axl_Uriel_Rubio_Ibarra/back_zpswewc03zf.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}


.none{
	display: none;
}
.wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
}
.index img{
	display: block;
	width: 80%;
	margin: 0 auto;
	right: 0;
	left: 0;
}

header {
	margin-top: 0;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
}
.fixed{
	position: fixed;
}
 
header nav {
	top: 0;
	background:#334D5C;
	z-index:2000;
	width:100%;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
	margin-left: 1%;
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:#45B29D;
}
 
header nav ul li a {
	cursor: pointer;
	color:#FCF5BF;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
 
header nav ul li:hover .child {
	display:block;
}
 
header nav ul li .child {
	display: none;
	background:#BFBC62;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .child li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .child li a {
	display: block;
}
 
header nav ul li .child li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .sub{
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

.slideshow{
	width: 100%;
	max-width: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
	height: 500px;
}
.slide{
	width: 100%;
	height: 500px;
}
.slide img{
	width: 100%;
	height: 90%;
	margin-bottom: 200px;
	
}
.slidesjs-pagination{
	display: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
	background: #303F9F;
	list-style: none;
	overflow: hidden;
}
.slidesjs-pagination li{
	top: 0;
	float: left;
}
.slidesjs-pagination li a{
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
}
.slidesjs-pagination li a:hover{
	background: #639d17;
}
.slide .active{
	background: #639d17;
}
.slidesjs-navigation{
	display: none;
	background: #303F9F;
	color: white;
	text-decoration: none;
	padding: 11.2px 20px;
	float: right;
}
h1.banner{
	z-index: 1000;
	background-color: #334D5C;
	position: absolute;
	float: right;
	width: 100%;
	color: #FCF5BF;
	text-align: center;
	margin: 0 auto;
}
.actual{

	background: #EFC94C;
}	

content{
	margin-top: 1000px;
	position: relative;
}
.contenido{
	display: block;
	 hyphens: auto;
	  word-break: break-all;
	font-size: 30px;
	max-width: 1200px;
	padding: 40px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	background: #FCF5BF;
	box-shadow: 1px 2px 2px gray;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
}
.contenido img{
	width: 300px;
}
.contenido a{
	margin-left: 30px;
}
.contenedor-formulario {
  width: 100%;
  color: #f2f2f2;
  padding: 50px; }
  .contenedor-formulario .formulario {
    width: 100%;
    margin: auto; }
    .contenedor-formulario .formulario .input-group {
      position: relative;
      margin-bottom: 32px; }
      .contenedor-formulario .formulario .input-group input[type="text"],
      .contenedor-formulario .formulario .input-group input[type="email"],
      .contenedor-formulario .formulario .input-group input[type="password"] {
        font-family: Lato;
        font-size: 16px;
        color: #334D5C;
        width: 100%;
        outline: none;
        padding: 15px;
        background: none;
        border: none;
        border: 2px solid #334D5C; }
        .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
        .contenedor-formulario .formulario .input-group input[type="email"]:focus,
        .contenedor-formulario .formulario .input-group input[type="email"]:active,
        .contenedor-formulario .formulario .input-group input[type="password"]:focus,
        .contenedor-formulario .formulario .input-group input[type="password"]:active {
          outline: none;
          border: 2px solid #EFC94C; }
        .contenedor-formulario .formulario .input-group input[type="text"].error,
        .contenedor-formulario .formulario .input-group input[type="email"].error,
        .contenedor-formulario .formulario .input-group input[type="password"].error {
          border: 2px solid #DF5A49; }
          .contenedor-formulario .formulario .input-group input[type="text"].error + label,
          .contenedor-formulario .formulario .input-group input[type="email"].error + label,
          .contenedor-formulario .formulario .input-group input[type="password"].error + label {
            color: #DF5A49; }
      .contenedor-formulario .formulario .input-group label {
        color: #334D5C; }
        .contenedor-formulario .formulario .input-group label.label {
          -webkit-transition: all 1.2s ease;
          -o-transition: all 1.2s ease;
          transition: all 1.2s ease;
          margin-left: 15px;
          font-size: 16px;
          line-height: 16px;
          position: absolute;
          top: 16px;
          left: 0; }
          .contenedor-formulario .formulario .input-group label.label.active {
            left: 70%;
            font-size: 20px;
            line-height: 12px;
            color: #E27A3F; }
      .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
        display: inline-block;
        cursor: pointer;
        color: #334D5C;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 20px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
          background: #EFC94C; 
          color: white;}
        .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          border-radius: 50%;
          background: none;
          border: 2px solid #334D5C; }
      .contenedor-formulario .formulario .input-group.error label {
        color: #DF5A49; }
        .contenedor-formulario .formulario .input-group.error label:hover {
          background: rgba(211, 47, 47, 0.2); }
        .contenedor-formulario .formulario .input-group.error label:before {
          border: 2px solid #DF5A49; }
      .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
          padding: 5px 15px;
          background: #45B29D;
          border-radius: 2px;
          color: #f2f2f2; }
      .contenedor-formulario .formulario .input-group.checkbox label:before {
        border-radius: 3px; }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
          background: #303F9F;
          color: #f2f2f2;
          padding: 5px 15px; }
    .contenedor-formulario .formulario input[type="button"] {
      background: #334D5C;
      border-radius: 1px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: Lato;
      font-size: 20px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .contenedor-formulario .formulario input[type="button"]:hover {
        background: #45B29D; }