*{
	padding: 0;
	margin: 0;
}
body{
	background: url('/AxlRUI.github.io/proyectofinal/otros/london.jpg') #000;
	background-size: cover;
	font-family: "Raleway";
	padding-top: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
header {
	width: 100%;
	padding-bottom: 100px;
	font-size: 15px;
}
 
header nav {
	background:#303F9F;
	z-index:2000;
	width:100%;
	-webkit-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	transition: all 1000ms ease;
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	-webkit-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	transition: all 1000ms ease;
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:#C5CAE9;
}
 
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .hijo {
	display:block;
}
 
header nav ul li .hijo {
	display: none;
	background:#3F51B5;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .hijo li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .hijo li a {
	display: block;
}
 
header nav ul li .hijo li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .sub {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
	.menu {
		font-size: 20px;
		display:block;
		width:100%;
		padding-bottom: 20px;
		position: fixed;
		top:0;
		background:#FF5252;
		z-index: 2000;
	}
 
	.menu .boton {
		text-align: center;
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		cursor: pointer;
	}
 
	.menu span {
		float: right;
		font-size: 40px;
	}
 
	header nav {
		width: 50%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	header nav ul li {
		cursor: pointer;
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
	.index {
		display: none;
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .hijo {
		display: none;
	}
 
	header nav ul li .hijo {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .hijo li a {
		margin-left:20px;
	}
 
	header nav ul li .sub {
		float: right;
	}

#particles-js{
	width: 100%;
	height: 100%;
	background-size: cover;
	position: fixed;
	display: block;

	
}
	header nav .boton{
			text-align: center;
			display: block;
			padding: 20px;
			color: #fff;
			overflow: hidden;
			font-size: 25px;
			font-weight: bold;
			text-decoration: none;

	}
	header nav span.task{
		float: left;
		font-size: 40px;
	} 
	header nav span.config{
		float: right;
		font-size: 40px;
	}
.bienvenida{
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	display: block;
	background: rgba(33,33,33,0.9);
	color: #fff;
	height: 50%;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 200px;
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	
}

.reg{
	position: fixed;
	z-index: 1000;
	display: block;
	padding: 30px;
	font-size: 20px;
	background: rgba(33,33,33,1);
	color: #fff;
	margin: 0 auto;
	margin-bottom: 0;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;

}
.registro input[type="button"]{
	font-size: 20px;
	text-decoration: none;
	background: #D32F2F;
	padding: 10px;
	margin-left: 20%;
	color: #fff;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: none;
	cursor: pointer;
	z-index: 4000;
}
	.registro input[type="button"]:hover{
		background: #536DFE;
	}
.login input[type="button"]{
	text-decoration: none;
	font-size: 20px;
	background: #D32F2F;
	padding: 10px;
	margin-left: 35%;
	color: #fff;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: none;
	cursor: pointer;
}
	.login input[type="button"]:hover{
		background: #536DFE;
	}
.none{
	display: none;
}
.wrap{
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 200px;
	width: 50%;
	height: 80%;
	padding: 40px;
	background: rgba(33,33,33,0.9);
	-webkit-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	transition: all 1000ms ease;
	color: #fff;

}
.wrap2{
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 200px;
	width: 80%;
	height: 80%;
	padding: 100px;
	background: rgba(33,33,33,1);;
	-webkit-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	transition: all 1000ms ease;
	color: #fff;

}

.contenedor{
	width: 100%
	color: #f2f2f2;
}
	.contenedor .formulario .input-group{
		position: relative;
		margin-bottom: 32px;
	}
	.contenedor .formulario .input-group input[type="text"],
	.contenedor .formulario .input-group input[type="password"],
	.contenedor .formulario .input-group input[type="email"]{
		color: #fff;
		font-size: 30px;
		width: 95%;
		outline: none;
		padding: 15px;
		background: none;
		border: 2px solid #fff;
		-webkit-transition:all 1000ms ease;
		-o-transition:all 1000ms ease;
		transition: all 1000ms ease;
	}
		.contenedor .formulario .input-group input[type="text"]:focus,
		.contenedor .formulario .input-group input[type="text"]:active,
		.contenedor .formulario .input-group input[type="password"]:focus,
		.contenedor .formulario .input-group input[type="password"]:active,
		.contenedor .formulario .input-group input[type="email"]:focus,
		.contenedor .formulario .input-group input[type="email"]:active{
			outline: none;
			border: 2px solid #536DFE;
		}
		.contenedor .formulario .input-group input[type="text"].error,
		.contenedor .formulario .input-group input[type="password"].error,
		.contenedor .formulario .input-group input[type="email"].error{
			border: 2px solid #F44336;
		}

	.contenedor .formulario input[type="button"]{
		color: #fff;
		font-size: 30px;
		width: 100%;
		outline: none;
		padding: 15px;
		background: #D32F2F;
		border: none;
		-webkit-transition:all 1000ms ease;
		-o-transition:all 1000ms ease;
		transition: all 1000ms ease;
	}
		.contenedor .formulario input[type="button"]:hover{
			background: #536DFE;
		}
	.contenedor .formulario .input-group.checkbox label, 
      .contenedor .formulario .input-group.radio label 
      {
        display: inline-block;
        cursor: pointer;
        color: #fff;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 3px;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease; 

    }
        .contenedor .formulario .input-group.checkbox label:hover, 
        .contenedor .formulario .input-group.radio label:hover 
        {
          background: #303F9F; 
          color: #C5CAE9;
      }
        .contenedor .formulario .input-group.checkbox label:before, 
        .contenedor .formulario .input-group.radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          background: none;
          border: 2px solid #303F9F; 
      }
      .contenedor .formulario .input-group.error label 
      {
        color: #D32F2F; }
        .contenedor .formulario .input-group.error label:hover 
        {
          background: rgba(211, 47, 47, 0.2); 
      }
        .contenedor .formulario .input-group.error label:before 
        {
          border: 2px solid #D32F2F; 
      }
      .contenedor .formulario .input-group.radio input[type="radio"] 
      {
        display: none; 
    }
        .contenedor .formulario .input-group.radio input[type="radio"]:checked + label:before 
        {
          display: none; 
      }
        .contenedor .formulario .input-group.radio input[type="radio"]:checked + label 
        {
          padding: 5px 15px;
          background: #FF5252;
          border-radius: 2px;
          color: #fff; 
      }
      .contenedor .formulario .input-group.checkbox label:before 
      {
        border-radius: 3px; 
    }
      .contenedor .formulario .input-group.checkbox input[type="checkbox"] 
      {
        display: none;
         }
        .contenedor .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
          display: none; 
      }
        .contenedor .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
          background: #303F9F;
          color: #FF5252;
          padding: 5px 15px; 
      }

.image1{
	margin-left: 25%;
}
.image1 img{

	text-align: center;
	display: inline-block;
	z-index: 40000;
	width: 200px;
	height: 200px;
	border: 4px solid #fff;
	margin: 0 auto;
	margin-left: 20px;
	-webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}
	.image1 img:hover{
		cursor: pointer;
		border-color: #3F51B5;
		border-radius: 20%;
		padding: 2px;
	}
	.image2{
	margin-left: 25%;
}
.image2 img{
	text-align: center;
	display: inline-block;
	z-index: 40000;
	width: 200px;
	height: 200px;
	border: 4px solid #fff;
	margin: 0 auto;
	margin-left: 20px;
	-webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}
	.image2 img:hover{
		cursor: pointer;
		border-color: #3F51B5;
		border-radius: 20%;
		padding: 2px;
	}

.fine img{
	text-align: center;
	display: inline-block;
	z-index: 40000;
	width: 200px;
	height: 200px;
	border: 4px solid green;
	margin: 0 auto;
	margin-left: 20px;
	-webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}
.wrong img{
	text-align: center;
	display: inline-block;
	z-index: 40000;
	width: 200px;
	height: 200px;
	border: 4px solid red;
	margin: 0 auto;
	margin-left: 20px;
	-webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}

.stats div{
	display: inline-block;
	margin: 20px;
}
.inter{
	color: #536DFE;
	font-size: 40px;
}