*{
	padding: 0;
	margin: 0;
}
body{
	background: url('/AxlRUI.github.io/proyectofinal/otros/london.jpg') #000;
	background-size: cover;
	font-family: "Raleway";
	padding-top: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
	header nav {
		width: 100%;
		position: fixed;
	}
	.menu{
	background: rgba(114,114,114,0.5);
	display:block;
	width:100%;
	position: fixed;
	top:0;

}
	header nav .boton{
			text-align: center;
			display: block;
			padding: 20px;
			color: #fff;
			overflow: hidden;
			font-size: 25px;
			font-weight: bold;
			text-decoration: none;

	}
	header nav span.task{
		float: left;
		font-size: 40px;
	} 
	header nav span.config{
		float: right;
		font-size: 40px;
	}
.bienvenida{
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	display: block;
	background: rgba(0,0,0,0.9);
	color: #fff;
	height: 50%;
	width: 80%;
	margin: 0 auto;
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	
}
	.bienvenida:hover{
		background: rgba(0,0,0,1);
	}
.reg{
	display: block;
	padding: 30px;
	font-size: 20px;
	background: rgba(0,0,0,0.9);
	color: #fff;
	margin: 0 auto;
	height: 100%;
	width: 80%;
	margin-top: 20px;
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;

}
	.reg:hover{
		background: rgba(0,0,0,1);
	}
.registro input[type="button"]{
	font-size: 20px;
	text-decoration: none;
	background: #D32F2F;
	padding: 10px;
	margin-left: 20%;
	color: #fff;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: 2px solid #D32f2f;
	cursor: pointer;
	z-index: 4000;
}
.login input[type="button"]{
	text-decoration: none;
	font-size: 20px;
	background: #D32F2F;
	padding: 10px;
	margin-left: 35%;
	color: #fff;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: 2px solid #D32f2f;
	cursor: pointer;
}
.login input[type="button"]:hover{
	box-shadow: inset 0 0 15px 10px #F44336;
}
.none{
	display: none;
}
.wrap{
	margin: 0 auto;
	width: 80%;
	padding: 40px;
	background: rgba(0,0,0,0.9);
	-webkit-transition:all 1000ms ease;
	-o-transition:all 1000ms ease;
	transition: all 1000ms ease;
	color: #fff;

}

.wrap:hover{
	background: rgba(0,0,0,1);
}
.contenedor{
	width: 100%
	color: #f2f2f2;
}
	.contenedor .formulario{
		width: 100%;
		margin: auto;
	}
		.contenedor .formulario .input.group{
			position: relative;
			margin-bottom: 32px;
		}
		.contenedor .formulario .input-group input[type="text"],
		.contenedor .formulario .input-group input[type="password"],
		.contenedor .formulario .input-group input[type="email"]{
			color: white;
			font-size: 16px;
			width: 95%;
			outline: none;
			padding: 15px;
			background: none;
			border: none;
			border-bottom: 2px solid #B6B6B6;
			-webkit-transition:all 1000ms ease;
			-o-transition:all 1000ms ease;
			transition: all 1000ms ease;
		}
			.contenedor .formulario .input-group input[type="text"]:focus,
			.contenedor .formulario .input-group input[type="text"]:active,
			.contenedor .formulario .input-group input[type="password"]:focus,
			.contenedor .formulario .input-group input[type="password"]:active,
			.contenedor .formulario .input-group input[type="email"]:focus,
			.contenedor .formulario .input-group input[type="email"]:active{
				outline: none;
				box-shadow: inset 0 0 20px 10px #B6B6B6;
			}
			.contenedor .formulario .input-group input[type="text"].error,
			.contenedor .formulario .input-group input[type="password"].error,
			.contenedor .formulario .input-group input[type="email"].error{
				background: #D32F2F;
			}
			.contenedor .formulario .input-group input[type="text"].error +label,
			.contenedor .formulario .input-group input[type="password"].error + label,
			.contenedor .formulario .input-group input[type="email"].error + label{
				color: #D32f2f;
			}
		.contenedor .formulario .input-gropu label{
			color: #040404;
		}
			.contenedor .formularo .input-group label.label{
			-webkit-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				margin-left: 15px;
				font-size: 16px;
				line-height: 16px;
				position: absolute;;
				top: 16px;
				left: 0;	
			}
				.contenedor .formulario .input-group label.label.active{
					top: -12px;
					font-size: 12px;
					line-height: 12px;
					color: #b6b6b6;
				}
		.contenedor .formulario .input-group.error label{
			color: #D32f2f;
		}
			.contenedor .formulario .input-group.error label:hover{
				background: rgba(211,47,47,0.2);
			}
			.contendor .formulario .input-group.error label:before{
				border: 2px solid #D32f2f;
			}
		.contenedor .formulario input[type="button"]{
			background: #D32F2F;
			border: none;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-size: 16px;
			padding: 15px;
			-webkit-transition: all 1000ms ease;
			-o-transition: all 1000ms ease;
			transition: all 1000ms ease;
			width: 100%;
		}
		.contenedor .formulario input[type="button"]:hover{
			background: #D32F2F;
			box-shadow: inset 0 0 15px 10px #F44336;
		}
